.root {
    -fx-padding: 0;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-background-color: #f0f0f0;
    -fx-background-size: cover;
}

.title-text {
    -fx-font-size: 24px;
    -fx-fill: #333;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-pref-width: 300px;
    -fx-pref-height: 40px;
    -fx-font-size: 14px;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-padding: 10;
}

.button {
    -fx-background-color: #5a67d8;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 3);
}

.button:hover {
    -fx-background-color: #434190;
}

.hyperlink {
    -fx-text-fill: #3273dc;
    -fx-font-size: 14px;
}

.small-button {
    -fx-font-size: 12px;
    -fx-padding: 5 10;
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #333;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.5, 0, 0);
}

.combo-box {
    -fx-font-size: 16px;
    -fx-font-family: 'Arial', sans-serif;
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-padding: 4px 15px 4px 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}

.combo-box .list-cell {
    -fx-padding: 8px 10px;
    -fx-background-color: white;
    -fx-text-fill: #333;
}

.combo-box .list-cell:hover {
    -fx-background-color: #f0f0f0;
}

.combo-box .list-cell:filled:selected, .combo-box .list-cell:focused:filled:selected {
    -fx-background-color: #3880ff;
    -fx-text-fill: white;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.combo-box .arrow {
    -fx-background-color: #333;
}

.combo-box-popup .list-view {
    -fx-background-radius: 5px;
    -fx-background-color: white;
    -fx-border-color: lightgray;
}


.card {
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 5;
}

.button {
    -fx-background-color: #5a67d8;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 10 20;
}
